<Title:>
  Fonts Example

<Body:>
  <view is="App" data="{{_page.data}}"/>

<App:>
  <view is="Parameters" query="{{data.query}}" str="{{data.str}}"/>
  <br>
  <view is="Results" fonts="{{filtered}}" str="{{data.str}}"/>

<Parameters:>
  <div class="row">
    <div class="col-xs-6">
      <input type="text" class="form-control" value="{{@query}}" placeholder="Поиск">
    </div>
    <div class="col-xs-6">
      <input type="text" class="form-control" value="{{@str}}" placeholder="Пример">
    </div>
  </div>

<Results:>
  <table class="table">
    <tbody>
    {{each @fonts as #font}}
      <view is="Row" str="{{@str}}" font="{{#font}}"/>
    {{/each}}
    </tbody>
  </table>

<Row:>
  <tr>
    <td>{{@font}}</td>
    <td style="font-family: '{{@font}}';">{{@str || ''}}</td>
  </tr>